@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   
   Date:     
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.3em;
    font-family: Agency FB;
    background: linear-gradient(90deg, rgba(210,215,155,1) 0%, rgba(208,207,145,1) 25%, rgba(151,82,184,1) 100%);
}

#container {
	border-radius: 25px;
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background: rgb(168, 141, 214);
}


header {
    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #888888;
    box-shadow: 15px 15px 5px 0 #888888;
    border-radius: 25px;  	
	background: white;
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
	background: rgb(168, 141, 214);
}

nav ul {
    font-weight: bold;
    list-style: none;
	background: rgb(168, 141, 214);
}

iframe{
	padding-top: 20px;
}

nav ul li a {
    padding: 5px;
    color: rgba(210,215,155,1);
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background:rgba(151,82,184,1);
    border-radius: 10px;
    color: rgb(168, 141, 214);
}

#main {
    width: 446px;
	background: rgb(168, 141, 214);
    padding: 10px;
    float: left;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;    
    background-image: url(images/Orion.jpg); 
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

table, th, td {
  border: 1px solid;
  color: rgba(210,215,155,1);
}

figcaption {
    font-style: italic;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
	color:rgba(210,215,155,1);
}

aside p {
    font-style: italic;
    font-size: 0.9em;
	color:rgba(210,215,155,1);
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
	color:rgb(122, 94, 171);
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: rgb(168, 141, 214);
    clear: both;
    color: wheat;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color: black;
    text-decoration: none;
}

footer a:visited {
    color: black;
    background-color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

img.img1 {
	float: left;
}

img.img2 {
	float: right;
	padding-left: 50px;
	padding-top: 20px;
}

img.img3 {
	float: left;
	padding-left: 150px;
	padding-top: 30px;
}

img.img4{
	padding-top: 20px;
}

img.img5 {
	width: 450px;
	float: right;
	padding-left: 50px;
	padding-top: 20px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

.top {
	background-color: rgb(138,43,226);
}